{% extends "base.html" %}
{% block title %}Kuchnia Snafa Admin Panel{% endblock %}

{% block content %}
    <h1>Panel administracyjny</h1>
    <a class="btn btn-primary" role="button" href="/admin/logout">Wyloguj</a>
    <a class="btn btn-primary" role="button" href="/admin/clp">Zmień login i hasło</a>
    <h1>Przepisy</h1>
    <a class="btn btn-primary" role="button" href="/admin/przepisy"> Dodaj przepis</a><br>
    {% if przepisy %}
    {% for przepis in przepisy %}
        Nazwa: <p>{{przepis.nazwa}}</p>
        Czas: <p>{{przepis.czas}}</p>
        Opis: <p>{{przepis.opis}}</p>
        Przygotowanie: <p>{{przepis.przepis}}</p>
        Składniki:
        <p>
        {% for skladnik in skladniki %}
        {% if skladnik.id|string in przepis.ListaSkladnikow %}
            {{skladnik.Nazwa}}
        {% endif %}
        {% endfor %}
        </p>

        <h2><a class="btn btn-primary" role="button" href="/admin/delete/przepis/{{przepis.id}}">Usuń</a></h2>
        <h2><a class="btn btn-primary" role="button" href="/admin/edit/przepis/{{przepis.id}}">Edytuj</a></h2>

    {% endfor %}
    {% endif %}


    <h1>Składniki</h1>
    <a class="btn btn-primary" role="button" href="/admin/skladniki">Dodaj składnik</a><br>
    {% if skladniki %}
    {% for skladnik in skladniki %}
        <p>Nazwa: {{skladnik.Nazwa}}; Kategoria:
            {% if skladnik.kategoria == 1 %}
                Produkty zbożowe
            {% elif skladnik.kategoria == 2 %}
                Warzywa
            {% elif skladnik.kategoria == 3 %}
                Owoce
            {% elif skladnik.kategoria == 4 %}
                Mleko i produkty mleczne
            {% elif skladnik.kategoria == 5 %}
                Produkty pochodzenia zwierzęcego
            {% elif skladnik.kategoria == 6 %}
                Tłuszcze
            {% elif skladnik.kategoria == 7 %}
                Przyprawy
            {% endif %}
        </p>
        <a class="btn btn-primary" role="button" href="/admin/delete/skladnik/{{skladnik.id}}">Usuń</a>
        <a class="btn btn-primary" role="button" href="/admin/edit/skladnik/{{skladnik.id}}">Edytuj</a>
        <br>
    {% endfor %}
    {%endif%}
{% endblock %}