<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api instrukcja</title>
</head>
<body>

<h1>Api instrukcja</h1>
Api w input dostosowuje sie od inputu użytkownika
- jesli input to cyfra to szuka po id
- jesli input to tekst to szuka po nazwie

<a href="/API/przepisy">/API/przepisy - zwraca liste przepisow z bazy danych</a>
<a href="/API/przepisy/1">/API/przepisy/input - zwraca przepis o danym id</a>

<a href="/API/skladniki">/API/skladniki - zwraca liste skladnikow z bazy danych</a>
<a href="/API/skladniki/1">/API/skladniki/input - zwraca skladnik o danym id</a>


</body>
</html>