{% extends "base.html" %}
{% block title %}API Admin Kuchnia Snafa{% endblock %}
{% block content %}
<div class="container" style="width: 35%;">
    <h1>API Admin</h1>
    <br>API aplikacji Kuchnia Snafa znajduje się pod adresem http://6186az.pythonanywhere.com/api.
    <br>
    <br>Za jego pomocą można uzyskać informacje o składnikach i przepisach.
    <br>
    <br>Dane są serializowane w formacie JSON
    <br>
    <br>Dostęp do API wymaga wygenerowania unikalnego klucza API pod adresem: <a href="/api/token">/api/token</a>
    <br>
    <br>API w input dostosowuje sie od inputu użytkownika
    <br>- jesli input to cyfra to szuka po ID
    <br>- jesli input to tekst to szuka po nazwie
    <br>
    <br>Metody POST i PUT wymagają przesłania dodatkowo odpowiedniego wypełnionego JSON
    <br>
    <br>GET, PUT, DELETE potrzebują inputu
    <br>
    <br><a href="/api/przepisy">/api/przepisy - zwraca liste przepisow z bazy danych</a>
    <br>- POST: dodawanie nowego przepisu
    <br>- Składniki mogą  być cyfrowo lub po nazwie (Pamiętaj o wielkości liter) ID lub nazwy można zobaczyć przy pomocy
    /api/skladniki
    <br>
    <br><a href="/api/przepisy/1">/api/przepisy/input - zwraca przepis o danym ID</a>
    <br>- PUT: zmiana danego składnika w ListaPrzepisow podobnie jak w post
    <br>- DELETE: usuniecie danego przepisu po nazwie lub ID
    <br>
    <br><a href="/api/skladniki">/api/skladniki - zwraca liste składnikow z bazy danych</a>
    <br>- POST: dodawanie nowego składnika (kategorie są od 1 do 7)
    <br><a href="/api/skladniki/1">/api/skladniki/input - zwraca składnik o danym ID</a>
    <br>- PUT: zmiana danego składnika
    <br>- DELETE: usuniecie danego składnika
    <br>
    <br>Przykłady:
    <br><a href="/api/skladniki">/api/przepisy/1</a> z metodą DELETE usunie przepis o ID = 1
    <br><a href="/api/skladniki">/api/przepisy/1</a> z metodą PUT zmienia przepis o ID = 1.
    <br>Do tego trzeba dać JSON z wypełnioną chociaż jedną kolumną z bazy danych

{% endblock %}