{% extends "base.html" %}

{% block title %}{{danie.name}}{% endblock %}
{% block content %}
<div class="container w-75 admin-75">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1>{{danie.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center py-3">
      <img class="site-img mx-auto" src="{{url_path}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
  <div class="rows">
    <div class="col-12">
      <h3>Czas przygotowania</h3>
    </div>
    <div class="col-12">
      {{danie.time}}
    </div>
    <div class="col-12">
      <h3>Opis</h3>
    </div>
    <div class="col-12">
      {{danie.description}}
    </div>
    <div class="col-12">
      <h3>Składniki</h3>
    </div>
    <div class="col-12">
      {% for skladnik in skladniki %}
      &#8226; {{skladnik.name}} <br>
      {% endfor %}
    </div>
    <div class="col-12">
      <h3>Plan działania</h3>
    </div>
    <div class="col-12">
      {{danie.recipe}}
    </div>
    <div class="col-12 text-center pt-2">
      <a class="btn btn-primary" role="button" href="/">Powrót do strony głównej</a>
    </div>

  </div>
</div>

{% endblock %}