{% extends "base.html" %}

{% block title %}Kuchnia Snafa{% endblock %}
{% block content %}
<style>
  body{
    background-color: #2E3440;
    color:#D8DEE9;
  }
  H3{
    background-color: #4C566A;
    }
  #MAINTEXT{
    background-color: #434C5E;
    }

</style>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1>{{danie.nazwa}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center ">
          <h3><img src="{{url_path}}" ></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
  <div class="rows">
    <div class="col-12">
      <h3>Czas przygotowania</h3>
    </div>
    <div class="col-12" id="MAINTEXT">
      {{danie.czas}}
    </div>
    <div class="col-12">
      <h3>Opis</h3>
    </div>
    <div class="col-12" id="MAINTEXT">
      {{danie.opis}}
    </div>
    <div class="col-12">
      <h3>Składniki</h3>
    </div>
    <div class="col-12" id="MAINTEXT">
      {{danie.skladniki}}
    </div>
    <div class="col-12">
      <h3>Plan działania</h3>
    </div>
    <div class="col-12" id="MAINTEXT">
      {{danie.przepis}}
    </div>
    <div class="col-12 text-center">
          <a href="/">
            Go to back to recipes.
          </a>
        </div>

  </div>
    </div>

{% endblock %}