{%extends 'base.html' %}
{% block title %}Edytuj składnik{% endblock %}

{% block content %}
<div class="container w-25 admin-25">
    <form method="POST">
        <label for="name">Nazwa Składnika</label>
        <input type="text" class="mb-1 form-control" id="name" name="name" placeholder="Podaj nazwę składnika"
            value="{{skladnik.name}}" required="required" />
        <label for="category">Kategoria</label>
        <select class="form-select mb-1 form-control" id="category" name="category" required>
            <option disabled selected value>Wybierz kategorię</option>
            <option value="1">Produkty zbożowe</option>
            <option value="2">Warzywa</option>
            <option value="3">Owoce</option>
            <option value="4">Mleko i produkty mleczne</option>
            <option value="5">Produkty pochodzenia zwierzęcego</option>
            <option value="6">Tłuszcze</option>
            <option value="7">Przyprawy</option>
        </select>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="mt-1 btn btn-primary">Potwierdź</button>
            </div>
    </form>
    <div class="col-6">
        <a class="mt-1 btn btn-primary btn-return float-end" role="button" href="/admin">Powrót</a>
    </div>
</div>
{% endblock %}