{%extends 'base.html' %}
{% block title %}Edytowanie Składników{% endblock %}

{% block content %}
<div class="container">
<form method="POST">
    <label for="nazwa">Nazwa Składnika</label>
        <input type="text" class="form-control" id="nazwa"
               name="Nazwa" placeholder="{{skladnik.Nazwa}}"/>
    <label for="Kategoria">Kategoria</label>
        <input type="text" class="form-control" id="Kategoria"
               name="kategoria" placeholder="{{skladnik.kategoria}}"/>
    <button type="submit" class="btn btn-success">potwierdz</button>
</form>
</div>
{% endblock %}