{%extends 'base.html' %}
{% block title %}Edytuj składnik{% endblock %}

{% block content %}
<div class="container w-25 admin-25">
    <form method="POST">
        <label for="nazwa">Nazwa Składnika</label>
        <input type="text" class="mb-1 form-control" id="nazwa" name="Nazwa" placeholder="Podaj nazwę składnika"
            value="{{skladnik.Nazwa}}" required="required" />
        <label for="kategoria">Kategoria</label>
        <select class="form-select mb-1 form-control" id="kategoria" name="kategoria" required>
            <option disabled selected value>Wybierz kategorię</option>
            <option value="1">Produkty zbożowe</option>
            <option value="2">Warzywa</option>
            <option value="3">Owoce</option>
            <option value="4">Mleko i produkty mleczne</option>
            <option value="5">Produkty pochodzenia zwierzęcego</option>
            <option value="6">Tłuszcze</option>
            <option value="7">Przyprawy</option>
        </select>
        <p><button type="submit" class="mt-1 btn btn-primary">Potwierdź</button></p>
    </form>
    <a class="btn btn-primary btn-return" role="button" href="/admin">Powrót</a>
</div>
{% endblock %}
