{% extends "base.html" %}
{% block title %}Kuchnia Snafa{% endblock %}
{% block content %}
<h1 class="logo">Kuchnia Snafa</h1><br>
<div class="row seven-cols">
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-zbozowe"
            onClick="categoryChange('category-zbozowe')" data-bs-toggle="collapse" data-bs-target="#zbozowe">Produkty
            zbożowe
        </button>
        <div class="collapse multi-collapse div-category" id="zbozowe">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 1 %}
            <button type="button" class="btn-ingredient btn btn-light" id="zbozowe{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-warzywa"
            onClick="categoryChange('category-warzywa')" data-bs-toggle="collapse" data-bs-target="#warzywa">Warzywa
        </button>
        <div class="collapse multi-collapse div-category" id="warzywa">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 2 %}
            <button type="button" class="btn-ingredient btn btn-light" id="warzywa{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-owoce"
            onClick="categoryChange('category-owoce')" data-bs-toggle="collapse" data-bs-target="#owoce">Owoce
        </button>
        <div class="collapse multi-collapse div-category" id="owoce">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 3 %}
            <button type="button" class="btn-ingredient btn btn-light" id = "owoce{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-mleczne"
            onClick="categoryChange('category-mleczne')" data-bs-toggle="collapse" data-bs-target="#mleczne">Mleko i
            produkty mleczne
        </button>
        <div class="collapse multi-collapse div-category" id="mleczne">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 4 %}
            <button type="button" class="btn-ingredient btn btn-light" id = "mleczne{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-zwierzece"
            onClick="categoryChange('category-zwierzece')" data-bs-toggle="collapse"
            data-bs-target="#zwierzece">Produkty
            pochodzenia zwierzęcego
        </button>
        <div class="collapse multi-collapse div-category" id="zwierzece">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 5 %}
            <button type="button" class="btn-ingredient btn btn-light" id = "zwierzece{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-tluszcze"
            onClick="categoryChange('category-tluszcze')" data-bs-toggle="collapse" data-bs-target="#tluszcze">Tłuszcze
        </button>
        <div class="collapse multi-collapse div-category" id="tluszcze">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 6 %}
            <button type="button" class="btn-ingredient btn btn-light" id = "tluszcze{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-category btn btn-primary" id="category-przyprawy"
            onClick="categoryChange('category-przyprawy')" data-bs-toggle="collapse"
            data-bs-target="#przyprawy">Przyprawy
        </button>
        <div class="collapse multi-collapse div-category" id="przyprawy">
            {% if ingredients %}
            {% for x in ingredients %}
            {% if x.category == 7 %}
            <button type="button" class="btn-ingredient btn btn-light" id = "przyprawy{{x.id}}"
                onClick="chooseIngredient('{{x.id}}', '{{x.name}}')">{{x.name}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <br>
    <h1 class="yourIngredients mb-2 mt-3">Twoje Składniki</h1>
    <form method="POST">
        <div class="current-field"></div>
        {% if form!=null %}
        <div class="ingredient-field mt-3 row bg-body-tertiary border rounded">
            {% for x in chosen_ingredient %}
            <div class="col-sm-3 py-1 div-ingredient">
                <div class="py-4 pe-3 ingredient rounded" id="{{x.id}}">
                    <input type="hidden" name="{{x.id}}" value="{{x.id}}">
                    <span class="ps-3">{{x.name}}</span>
                    <button type="button" class="btn-end float-end btn btn-danger" id="delete{{x.id}}"
                        onClick="deleteIngredient('{{x.id}}')">Usuń</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" class="btn-ready btn btn-primary mb-2">Gotowe</button>
    </form>

    {% if dishes_from_db %}
    <div class="ms-1 mt-4 row">
        {% for dish in dishes_from_db %}
        <div class="col-3 mb-4 me-4 card h-100 dish-card">
            {%set var=dish.id|string %}
            <img src="{{url_for('static', filename='img/'+var+'.png')}}" class="card-img mt-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <a class="btn btn-primary" role="button" href="/danie/{{dish.id}}" id="dish{{dish.id}}">Przejdź do
                    przepisu</a>
            </div>
        </div>

    {% endfor %}
        </div>
</div>
</div>
{%endif%}
<script>
    let chosen = [];
    let x = "";
    //if chosen_ingredient is not null
    //for each x in chosen_ingredient
    //add them to chosen so they cant be repeated
    {% if chosen_ingredient %}
    {% for x in chosen_ingredient %}
    x += {{ x.id }}+" ";
    {% endfor %}
    {% endif %}
    let array = x.split(" ");
    chosen = array;
    let btnReady = document.querySelector(".btn-ready");
    btnReady.style.display = "none";
    let currentField = document.querySelector(".current-field");
    let ingredientField = document.querySelector(".ingredient-field.row");
    let yourIngredients = document.querySelector(".yourIngredients");

    // Displays "Twoje składniki" if there are any ingredients chosen
    if (currentField.innerHTML.trim().length == 0 && ingredientField.innerHTML.trim().length == 0) {
        yourIngredients.style.display = "none";
        ingredientField.style.display = "none";
    }
    else {
        yourIngredients.style.display = "block";
    }

    // This function is responsible for selecting a product and adding it to the list of selected products.
    //
    // Parameters:
    // - ingredientId: The ID of the product to be selected.
    // - ingredientName: The name of the product to be selected.
    //
    // Returns:
    // - false: If the product is already selected.
    // - if not false: the product is successfully added to the list of selected products.
    //   and displed for user
    function chooseIngredient(ingredientId, ingredientName) {
        if (chosen.includes(ingredientId)) {
            return false;
        }
        else {
            chosen.push(ingredientId);

            let name = document.createElement("label");
            name.setAttribute("id", "ingredientName");
            name.setAttribute("for", ingredientId);
            name.innerHTML = ingredientName;

            let span = document.createElement("span");

            span.append(name);

            let ID = document.createElement("input");
            ID.setAttribute("type", "text");
            ID.setAttribute("id", ingredientId);
            ID.setAttribute("name", ingredientId);
            ID.style.display = "none";

            let field = document.createElement("div");
            field.append(span);
            field.append(ID);
            field.style.display = "none";

            let mainField = document.createElement("div");
            mainField.append(field);
            mainField.style.display = "none";

            currentField.append(mainField);

            btnReady.click();
        }
    }
    // Deletes a product from the list of selected products.
    //
    // Parameters:
    // - ingredientId: The ID of the product to be deleted.
    //
    // Returns:
    // - None
    function deleteIngredient(ingredientId) {
        const index = chosen.indexOf((ingredientId).toString());
        const x = chosen.splice(index, 1);
        let ingredientToDelete = document.getElementById(ingredientId);
        ingredientToDelete.remove();
        if (ingredientField.innerHTML.trim().length == 0) {
            yourIngredients.style.display = "none";
        }
        btnReady.style.display = "none";
        btnReady.click();
    }
    // Toggles the "category-clicked" class on the button element with the given ID
    // in order to obtain the appearance of smooth single block with buttons
    // with the btn-ingredient class below.
    //
    // Parameters:
    // - category: The ID of the button element to toggle the class on.
    //
    // Returns:
    // - None
    function categoryChange(category) {
        const btnCategory = document.getElementById(category);
        isClicked = btnCategory.getAttribute("aria-expanded");
        if (isClicked == "true")
            btnCategory.classList.add("category-clicked");
        else if (isClicked == "false")
            btnCategory.classList.remove("category-clicked");
    }
</script>
{% endblock %}