{% extends "base.html" %}
{% block title %}Kuchnia Snafa{% endblock %}
{% block content %}
<h1 class="logo">Kuchnia Snafa</h1><br>
<div class="row seven-cols">
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katZbozowe" onClick="katChange('katZbozowe')"
            data-bs-toggle="collapse" data-bs-target="#zbozowe">Produkty zbożowe
        </button>
        <div class="collapse multi-collapse divKat" id="zbozowe">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 1 %}
            <button type="button" class="btnProd btn btn-light" id="zbozowe{{x}}"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katWarzywa" onClick="katChange('katWarzywa')"
            data-bs-toggle="collapse" data-bs-target="#warzywa">Warzywa
        </button>
        <div class="collapse multi-collapse divKat" id="warzywa">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 2 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katOwoce" onClick="katChange('katOwoce')"
            data-bs-toggle="collapse" data-bs-target="#owoce">Owoce
        </button>
        <div class="collapse multi-collapse divKat" id="owoce">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 3 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katMleczne" onClick="katChange('katMleczne')"
            data-bs-toggle="collapse" data-bs-target="#mleczne">Mleko i
            produkty mleczne
        </button>
        <div class="collapse multi-collapse divKat" id="mleczne">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 4 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katZwierzece" onClick="katChange('katZwierzece')"
            data-bs-toggle="collapse" data-bs-target="#zwierzece">Produkty
            pochodzenia zwierzęcego
        </button>
        <div class="collapse multi-collapse divKat" id="zwierzece">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 5 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katTluszcze" onClick="katChange('katTluszcze')"
            data-bs-toggle="collapse" data-bs-target="#tluszcze">Tłuszcze
        </button>
        <div class="collapse multi-collapse divKat" id="tluszcze">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 6 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btnKat btn btn-primary" id="katPrzyprawy" onClick="katChange('katPrzyprawy')"
            data-bs-toggle="collapse" data-bs-target="#przyprawy">Przyprawy
        </button>
        <div class="collapse multi-collapse divKat" id="przyprawy">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 7 %}
            <button type="button" class="btnProd btn btn-light"
                onClick="wybierzSkladnik('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>

            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <br>
    <h1 class="twojeSkladniki">Twoje Składniki</h1>
    <form method="POST">
        <div class="formField row"></div>
            {% if form!=null %}
            {# <div class="skladnikiField row border rounded border-dark-subtle"> #}
            <div class="skladnikiField row">
            {% for x in SkladnikiWybrane %}
            <div class="col-sm-3 py-2">
                <div class="py-4" id="{{x.id}}">
                    {{x.Nazwa}}
                    <input style="display:none;" type="text" name="{{x.id}}" value="{{x.id}}">
                    <button type="button" class="btnUsun float-end btn btn-danger"
                        onClick="deleteP('{{x.id}}')">Usuń</button>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endif %}

        <button type="submit" class="btnGotowe btn btn-primary">Gotowe</button>
    </form>

    {% if dania %}
    <div class="rounded row row-cols-1 row-cols-md-3">
        {% for danias in dania %}
        <div class="col">
            <br>
            <div class="card h-100" style="width: 18rem;">
                {%set var=danias.id|string %}
                <img src="{{url_for('static', filename='img/'+var+'.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{danias.nazwa}}</h5>
                    <p class="card-text">{{danias.opis}}</p>
                    <a href="/danie/{{danias.id}}" class="btn btn-primary">Przejdź do przepisu</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endif%}
<script>
    let wybrane = [];
    let x = "";
    {% if SkladnikiWybrane %}
    {%for x in SkladnikiWybrane %}
    x += {{ x.id }}+" ";
    {% endfor %}
    {% endif %}
    let array = x.split(" ");
    wybrane = array;
    console.log(wybrane);
    let btnGotowe = document.querySelector(".btnGotowe");
    btnGotowe.style.display = "none";
    let formField = document.querySelector(".formField");
    let skladnikiField = document.querySelector(".skladnikiField.row");
    let twojeSkladniki = document.querySelector(".twojeSkladniki");
    if (formField.innerHTML.trim().length == 0 && skladnikiField.innerHTML.trim().length == 0)
        twojeSkladniki.style.display = "none";
    else
        twojeSkladniki.style.display = "block";

    function wybierzSkladnik(idProduktu, nazwaProduktu) {
        if (wybrane.includes(idProduktu)) {
            return false;
        }
        else {
            twojeSkladniki.style.display = "block";
            wybrane.push(idProduktu);
            btnGotowe.style.display = "block";



            let nazwa = document.createElement("label");
            nazwa.setAttribute("id", "nazwaProduktu");
            nazwa.setAttribute("for", idProduktu);
            nazwa.innerHTML = nazwaProduktu;

            let ID = document.createElement("input");
            ID.setAttribute("type", "text");
            ID.setAttribute("id", idProduktu);
            ID.setAttribute("name", idProduktu);
            ID.setAttribute("style", "display:none;");

            let btnUsun = document.createElement("button");
            btnUsun.setAttribute("type", "button");
            btnUsun.setAttribute("class", "btnUsun float-end btn btn-danger");
            btnUsun.innerHTML = "Usuń";
            console.log(wybrane);
            btnUsun.onclick = () => {
                formField.removeChild(poleMain);
                wybrane.splice(wybrane.indexOf(idProduktu), 1);
                if (formField.innerHTML.trim().length == 0) {
                    twojeSkladniki.style.display = "none";
                }
            }

            let pole = document.createElement("div");
            pole.setAttribute("class", "py-4");
            pole.append(nazwa);
            pole.append(ID);
            pole.append(btnUsun);

            let poleMain = document.createElement("div");
            poleMain.setAttribute("class", "col-sm-3 py-2");
            poleMain.append(pole);

            formField.append(poleMain);
        }
    }
    function deleteP(produktid) {
        console.log(produktid);
        const index = wybrane.indexOf((produktid).toString());
        console.log(index);
        const x = wybrane.splice(index, 1);
        let pDoUsuniecia = document.getElementById(produktid);
        pDoUsuniecia.remove();
        console.log("chuj " + produktid);
        if (skladnikiField.innerHTML.trim().length == 0) {
            twojeSkladniki.style.display = "none";
        }
        btnGotowe.style.display = "none";
        btnGotowe.click();
    }
    function katChange(kat) {
        const katBtn = document.getElementById(kat);
        // const btnID = (kat.replace('kat', '')).toLowerCase();
        // const skladnikiDiv = document.getElementById(btnID);
        isClicked = katBtn.getAttribute("aria-expanded");
        if (isClicked == "true")
            katBtn.classList.add("katClicked");
        else if (isClicked == "false")
            katBtn.classList.remove("katClicked");
        console.log(isClicked);
    }
</script>
{% endblock %}