{% extends "base.html" %}
{% block title %}Kuchnia Snafa{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#zbozowe">Produkty zbożowe
        </button>
        <div class="collapse multi-collapse" id="zbozowe">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 1 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#warzywa">Warzywa
        </button>
        <div class="collapse multi-collapse" id="warzywa">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 2 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#owoce">Owoce
        </button>
        <div class="collapse multi-collapse" id="owoce">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 3 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#mleczne">Mleko i
            produkty mleczne
        </button>
        <div class="collapse multi-collapse" id="mleczne">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 4 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#zwierzece">Produkty
            pochodzenia zwierzęcego
        </button>
        <div class="collapse multi-collapse" id="zwierzece">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 5 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <button type="button" id="btnKat" class="btn btn-success" data-bs-toggle="collapse"
                data-bs-target="#tluszcze">Tłuszcze
        </button>
        <div class="collapse multi-collapse" id="tluszcze">
            {% if Skladnikiz %}
            {% for x in Skladnikiz %}
            {% if x.kategoria == 6 %}
            <button type="button" id="btnIlosc" class="btn btn-light"
                    onClick="podajIlosc('{{x.id}}', '{{x.Nazwa}}')">{{x.Nazwa}}
            </button>
            <br>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<form method="POST">
    <div id="formField"></div>
    <button id="btnGotowe" type="submit" class="btn btn-success">Submit</button>
</form>
<br>
{% if form!=null %}
<h1>Produkty</h1>
{% for x in SkladnikiWybrane %}
<p>Składnik: {{x.Nazwa}};
{% endfor %}
{% endif %}

{% if dania %}
{% for danias in dania %}
<div class="card" style="width: 18rem;">
    {%set var=danias.id|string %}
  <img src="{{url_for('static', filename='img/'+var+'.png')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{danias.nazwa}}</h5>
    <p class="card-text">{{danias.opis}}</p>
    <a href="/danie/{{danias.id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
{%endif%}
{% endblock %}
</body>

</html>
