{% extends 'base.html' %}
{% block title %}Dodaj przepis{% endblock %}

{% block content %}
<div class="container w-50">
       <form method="POST" enctype="multipart/form-data">
              <label for="nazwa">Nazwa Dania (maksymalnie 25 znaków)</label>
              <input type="text" class="mb-1 form-control" id="nazwa" name="nazwa" placeholder="Podaj nazwę dania"
                     required="required" maxlength="25" />
              <label for="czas">Czas</label>
              <input type="text" class="mb-1 form-control" id="czas" name="czas" placeholder="Podaj czas przygotowania"
                     required="required" />
              <label for="opis">Opis (maksymalnie 30 znaków)</label>
              <input type="text" class="mb-1 form-control" id="opis" name="opis" placeholder="Podaj opis przepisu"
                     required="required" maxlength="30" />
              <input type="hidden" class="mb-1 form-control" id="skladniki" name="skladniki" value="" />
              <label for="przepis">Przepis</label>
              <textarea class="mb-1 form-control" id="przepis" name="przepis" placeholder="Podaj opis wykonania"
                     required="required" rows="3"></textarea>
              <label for="lista">Składniki</label>
              {% for skladnik in skladniki %}
              <div class="form-check">
                     <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="{{skladnik.id}}" id="lista"
                                   name="lista">
                            {{skladnik.Nazwa}}</label>
              </div>
              {% endfor %}
              <label for="formFile" class="mt-1 form-label">Grafika</label>
              <input class="form-control" type="file" id="grafika" name="grafika"
                     accept="image/png, image/jpg, image/jpeg, image/webp" required="required">
              <p style="font-size: 0.9rem;">Obsługiwane formaty: .png, .jpg, .jpeg, .webp</p>
              <p><button type="submit" class="mt-1 btn btn-primary">Potwierdź</button></p>
       </form>
</div>
{% endblock %}