{% extends 'base.html' %}
{% block title %}Dodawanie  Przepisów{% endblock %}

{% block content %}
<div class="container">
<form method="POST">
    <label for="nazwa">Nazwa Dania</label>
        <input type="text" class="form-control" id="nazwa"
               name="nazwa" placeholder="Enter a Name"/>
    <label for="czas">Czas</label>
        <input type="text" class="form-control" id="czas"
               name="czas" placeholder="Enter a Name"/>
    <label for="opis">Opis</label>
        <input type="text" class="form-control" id="opis"
               name="opis" placeholder="Enter a Name"/>
    <label for="skladniki">Składniki</label>
        <input type="text" class="form-control" id="skladniki"
               name="skladniki" placeholder="Enter a Name"/>
    <label for="przepis">Przepis</label>
        <input type="text" class="form-control" id="przepis"
               name="przepis" placeholder="Enter a Name"/>
    <label for="lista">Lista Składników</label>
        <input type="text" class="form-control" id="lista"
               name="lista" placeholder="Prosze podawać w następujący sposob '{id skłądnika} {id kolejnego}' np '1 2 3'"/>
    <button type="submit" class="btn btn-success">potwierdz</button>
</form>
</div>
{% endblock %}