{% extends 'base.html' %}
{% block title %}Dodawanie Składników{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <label for="nazwa">Nazwa Składnika</label>
        <input type="text" class="form-control" id="nazwa"
               name="Nazwa" placeholder="nazwa"/>
        <label for="Kategoria">Kategoria</label>
        <select class="form-select form-control" id="Kategoria" name="kategoria">
            <option selected>Wybierz kategorię</option>
            <option value="1">Produkty zbożowe</option>
            <option value="2">Warzywa</option>
            <option value="3">Owoce</option>
            <option value="4">Mleko i produkty mleczne</option>
            <option value="5">Produkty pochodzenia zwierzęcego</option>
            <option value="6">Tłuszcze</option>
        </select>
        <button type="submit" class="btn btn-success">Potwierdź</button>
    </form>
</div>
{% endblock %}