{% extends 'base.html' %}
{% block title %}Dodawanie  Składników{% endblock %}

{% block content %}
<div class="container">
<form method="POST">
    <label for="nazwa">Nazwa Składnika</label>
        <input type="text" class="form-control" id="nazwa"
               name="Nazwa" placeholder="nazwa"/>
    <label for="Kategoria">Kategoria</label>
        <input type="text" class="form-control" id="Kategoria"
               name="kategoria" placeholder="np 1 2 czy mięso"/>
    <button type="submit" class="btn btn-primary">potwierdz</button>
</form>
</div>
{% endblock %}