@media only screen and (max-width : 1920px) {
    .btnKat {
        height: 100px;
        font-size: 1vw;
    }
}

@media only screen and (min-width : 1921px) and (max-width : 3839px) {
    .btnKat {
        height: 129px;
        font-size: 0.8vw;
    }
}

@media only screen and (min-width : 3840px) {
    .btnKat {
        height: 197px;
        font-size: 0.5vw;
    }
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.28%;
      max-width: 14.28% !important;
  flex:none !important;
    }
  }
   
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.28%;
      max-width: 14.28% !important;
  flex:none !important;
    }
  }

body {
    background-color: #f5f5f5;
}

h1 {
    font-size: 2.7vw;
}

h5 {
    font-size: 1.3vw;
}

p {
    font-size: 1vw;
}

.container {
    font-size: 1vw;
}

.btn {
    font-size: 1vw;
}

.btnGotowe {
    font-size: 1vw;
    align-items: end;
}

.btnUsun {
    font-size: 1vw;
}

.btnIlosc {
    width: 100%;
    font-size: 1vw;
}

.btnProd {
    width: 100%;
    font-size: 1vw;
}

.pole {
    margin: auto;
}
.btnKat {
    width: 100%;
}

.btn-success {
  --bs-btn-bg: #43A047;
  --bs-btn-border-color: #43A047;
  --bs-btn-hover-bg: #388E3C;
  --bs-btn-hover-border-color: #2E7D32;
  --bs-btn-active-bg: #2E7D32;
  --bs-btn-active-border-color: #1B5E20;
  --bs-btn-disabled-bg: #43A047;
  --bs-btn-disabled-border-color: #43A047;
}

.btn-light {
    --bs-btn-border-color: rgba(0, 0, 0, 0.175);
    /* border-radius: 0 0 0.375rem 0.375rem; */
}

.btn-danger {
  --bs-btn-bg: #F44336;
  --bs-btn-border-color: #F44336;
  --bs-btn-hover-bg: #D32F2F;
  --bs-btn-hover-border-color: #C62828;
  --bs-btn-active-bg: #C62828;
  --bs-btn-active-border-color: #B71C1C;
  --bs-btn-disabled-bg: #F44336;
  --bs-btn-disabled-border-color: #F44336;
}