$enable-negative-margins: true;

@media only screen and (max-width: 1920px) {
    .btn-category {
        height: 100px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 3839px) {
    .btn-category {
        height: 129px;
    }
}

@media only screen and (min-width: 3840px) {
    .btn-category {
        height: 197px;
    }
}

@media (min-width: 1410px) {
    .div-category {
        width: 164.483px;
    }
}

@media (min-width: 1210px) and (max-width: 1409px) {
    .div-category {
        width: 138.783px;
    }
}

@media (max-width: 1209px) {
    .div-category {
        width: 113.083px;
    }
}



@media (min-width: 768px) {
    .seven-cols {
        .col-md-1,
        .col-sm-1,
        .col-lg-1 {
            width: 100%;
        }
    }
}

@mixin cols-seven {
    width: 14.28%;
    max-width: 14.28% !important;
    flex: none !important;
}

@mixin biggerMedia {
    .seven-cols {
        .col-md-1,
        .col-sm-1,
        .col-lg-1 {
            @include cols-seven;
            
        }
    }
}

@media (min-width: 992px) {
    @include biggerMedia;
}

@media (min-width: 1200px) {
    @include biggerMedia;
}

body {
    background-color: #ffffff;
    padding-bottom: 5vh;
}

.btn-category {
    width: 100%;
}

.category-clicked {
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}

@media (max-width: 991px) {
    .collapse,
    .collapsing,
    .btn-ingredient {
        width: 696px;
    }
    .card-img.admin {
        height: 8rem;
    }
    .navbar {
        display: none;
    }
    .btn-admin {
        height: 86px;
    }
}

@media (min-width: 992px) {
    .card-img.admin {
        height: 15rem;
    }
    .mobile-buttons {
        display: none;
    }
}

@media (max-width: 767px) {
    .collapse,
    .collapsing,
    .btn-ingredient {
        width: 516px;
    }
}

@media (min-width: 992px) {
    .btn-ingredient {
        width: 100%;
    }
}

.btn-ingredient {
    border-radius: 0%;
    border-top: none;
}

.div-category > :last-child {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.collapse,
.collapsing {
    position: absolute;
}

@mixin btn($color) {
    --bs-btn-bg: #{$color};
    --bs-btn-border-color: #{$color};
    --bs-btn-hover-bg: #{darken($color, 5%)};
    --bs-btn-hover-border-color: #{darken($color, 10%)};
    --bs-btn-active-bg: #{darken($color, 10%)};
    --bs-btn-active-border-color: #{darken($color, 15%)};
    --bs-btn-disabled-bg: #{$color};
    --bs-btn-disabled-border-color: #{$color};
}

$primary-color: #43a047;
$danger-color: #f44336;

.btn-primary {
    @include btn($primary-color);
}

.btn-danger {
    @include btn($danger-color);
}

.btn-light {
    --bs-btn-border-color: #{$primary-color};
    --bs-btn-hover-border-color: #{darken($primary-color, 10%)};
    --bs-btn-active-border-color: #{darken($primary-color, 15%)};
}

/* Class for the buttons with float-end class
to have them the same height as text with float-start class */
.btn-end {
    padding-top: 0;
    padding-bottom: 0;
    width: 69.91px;
}

.logo {
    color: #{darken($primary-color, 10%)};
    text-align: center;
}

.site-img {
    width: 100vh;
    height: auto;
    max-width: 100%;
    display: block;
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 12rem;
}

.border-end-primary {
    border-right-color: #{darken($primary-color, 5%)};
}

.dish-card {
    width: 18.15rem;
}

.hr-admin {
    color: $primary-color;
    border-top: 0.1rem solid;
}

.ingredient {
    margin-top: -0.25rem !important;
    margin-bottom: -0.25rem !important;
}

.navbar {
    background-color: $primary-color;
}

.nav-link {
    color: white !important;

    &:hover {
        color: #{darken($primary-color, 25%)} !important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199) {
    .nav-link {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .nav-link {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .nav-link {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.footer {
    color: #{darken($primary-color, 20%)};
    background-color: white;
}

.admin-25,
.admin-50,
.admin-75 {
    height: auto;
    display: block;
}

.admin-25 {
    margin: 15% auto;
}

.admin-50,
.admin-75 {
    margin: 2% auto;
}

.btn-admin {
    width: 6rem;
}

.ingredient-field {
    border-color: $primary-color !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}